<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="World Top transfers"/>
    <meta
            name="keywords"
            content="football,clubs, football club,Real Madrid, football transfer, top transfers,"
    />
    <link rel="icon" href="{% static  'img/inter.logo.png' %}"/>
    <meta name="author" content="Ali Egamberdiyev"/>
    <title>Clubs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static  'css/main.css' %}"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />

</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="country-menu-btn">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <div class="navbar-menu-btn">
            <div class="line4"></div>
            <div class="line5"></div>
            <div class="line6"></div>
        </div>
        <div class="country-menu">
            <h3><a href="./countries/england.html">England</a> <br/></h3>
            <h3><a href="./countries/italy.html">italy</a> <br/></h3>
            <h3><a href="./countries/france.html">France</a> <br/></h3>
            <h3><a href="./countries/netherlands.html">Netherlands</a> <br/></h3>
            <h3><a href="./countries/ukraine.html">Ukraine</a> <br/></h3>
            <h3><a href="./countries/argentina.html">Argentina</a> <br/></h3>
            <h3><a href="./countries/spain.html">Spain</a> <br/></h3>
            <h3><a href="./countries/germany.html">Germany</a> <br/></h3>
            <h3><a href="./countries/portugal.html">Portugal</a> <br/></h3>
            <h3><a href="./countries/brazil.html">Brazil</a> <br/></h3>
            <h3><a href="./countries/russia.html">Russia</a> <br/></h3>
            <h3><a href="./countries/other.html">Other</a> <br/></h3>
        </div>
        <div class="navbar-menu">
            <h3><a href="/clubs/">CLUBS</a></h3>
            <h3><a href="/transfers/">LATEST TRANSFERS</a></h3>
            <h3><a href="/players/">PLAYERS</a></h3>
            <h3><a href="./U-20 players.html">U-20 PLAYERS</a></h3>
            <h3><a href="./tryouts.html">TRYOUTS</a></h3>
            <h3><a href="./stats.html">STATS</a></h3>
            <h3><a href="./about.html">ABOUT US</a></h3>
            <h3><a href="/">HOME</a></h3>
        </div>
        <div class="icon">
            <a href="./index.html">
                <img src="{% static 'img/12252568_173-removebg-preview.png' %}" alt=""/>
            </a>
        </div>
        <div class="links">
            <div class="navActive"><a href="#">CLUBS</a></div>
            <div><a href="/transfers/">LATEST TRANSFERS</a></div>
            <div><a href="/players/">PLAYERS</a></div>
            <div><a href="./U-20 players.html">U-20 PLAYERS</a></div>
            <div><a href="./tryouts.html">TRYOUTS</a></div>
            <div><a href="./stats.html">STATS</a></div>
            <div><a href="./about.html">ABOUT US</a></div>
            <div><a href="/">HOME</a></div>
        </div>
    </div>
    <div class="country-clubs">
        <h2 id="title">Clubs by country</h2>
        <div class="country">
            <div>
                <h3><a href="./countries/england.html">England</a> <br/></h3>
                <h3><a href="./countries/italy.html">italy</a> <br/></h3>
                <h3><a href="./countries/france.html">France</a> <br/></h3>
                <h3>
                    <a href="./countries/netherlands.html">Netherlands</a> <br/>
                </h3>
                <h3><a href="./countries/ukraine.html">Ukraine</a> <br/></h3>
                <h3><a href="./countries/argentina.html">Argentina</a> <br/></h3>
            </div>
            <div>
                <h3><a href="./countries/spain.html">Spain</a> <br/></h3>
                <h3><a href="./countries/germany.html">Germany</a> <br/></h3>
                <h3><a href="./countries/portugal.html">Portugal</a> <br/></h3>
                <h3><a href="./countries/brazil.html">Brazil</a> <br/></h3>
                <h3><a href="./countries/russia.html">Russia</a> <br/></h3>
                <h3><a href="./countries/other.html">Other</a> <br/></h3>
            </div>
        </div>
    </div>
    <div class="nav">
        <h2>– CLUBS –</h2>
        <table class="content-nav"></table>
    </div>
    <div class="content" style="margin-top: 170px">
        <div class="clubs">

            <div class="club">
                <a href="/club_players/Manchester City/">

                    <img src="http://www.topfootballtransfers.com/media/rasmlar/Manchester_City_FC_badge.svg.png"
                         alt="">

                    Manchester City
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Chelsea/">

                    <img src="http://www.topfootballtransfers.com/media/rasmlar/Chelsea_FC.svg.png" alt="">

                    Chelsea
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Arsenal/">

                    <img src="http://www.topfootballtransfers.com/media/rasmlar/Arsenal_FC_JD2ogkm.svg" alt="">

                    Arsenal
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Real Madrid/">

                    <img src="http://www.topfootballtransfers.com/media/rasmlar/kisspng-real-madrid-c-f-uefa-champions-league-la-liga-juv-5b1351b072b362.2456057_OjMBcGp.jpg"
                         alt="">
                    Real Madrid
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Paris Saint-Germain/">

                    <img src="http://www.topfootballtransfers.com/media/rasmlar/PSG-Logo.png" alt="">

                    Paris Saint-Germain
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Barcelona/">

                    <img src="http://www.topfootballtransfers.com/media/rasmlar/FC_Barcelona_crest.svg.png" alt="">

                    Barcelona
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Liverpool/">

                    <img src="http://www.topfootballtransfers.com/media/rasmlar/Liverpool_FC.svg" alt="">

                    Liverpool
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Bayern/">

                    <img src="http://www.topfootballtransfers.com/media/rasmlar/FC_Bayern_M%C3%BCnchen_logo_2017.svg.png"
                         alt="">

                    Bayern
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Tottenham/">

                    <img src="http://www.topfootballtransfers.com/media/rasmlar/tottenham-hotspur-logo_1.png" alt="">

                    Tottenham
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Manchester United/">

                    <img src="http://www.topfootballtransfers.com/media/rasmlar/Manchester_United_FC_crest.png" alt="">

                    Manchester United
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Brighton/">

                    <img src="http://www.topfootballtransfers.com/media/rasmlar/Brighton__Hove_Albion_logo.svg" alt="">

                    Brighton
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Inter Milan/">

                    <img src="http://www.topfootballtransfers.com/media/rasmlar/Inter-Milan-logo.png" alt="">

                    Inter Milan
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Juventus/">

                    <img src="http://www.topfootballtransfers.com/media/rasmlar/Juventus-emblem.png" alt="">

                    Juventus
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Aston Villa/">

                    <img src="/media/rasmlar/aston-villa.png" alt="">

                    Aston Villagit
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Bayer/">

                    <img src="/media/rasmlar/%D0%91%D0%B5%D0%B7_%D0%BD%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F_1.png"
                         alt="">

                    Bayer
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Milan/">

                    <img src="/media/rasmlar/ac_milan.png" alt="">

                    Milan
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Newcastle/">

                    <img src="/media/rasmlar/Newcastle_United_Logo.png" alt="">

                    Newcastle
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Leipzig/">

                    <img src="/media/rasmlar/leipzig.png" alt="">

                    Leipzig
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Sporting/">

                    <img src="/media/rasmlar/sporting.jpg" alt="">

                    Sporting
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Borussia Dortmund/">

                    <img src="/media/rasmlar/Borussia_Dortmund_logo_freelogovectors.net_.png" alt="">

                    Borussia Dortmund
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Atletico Madrid/">

                    <img src="/media/rasmlar/atletico-madrid-Logo.png" alt="">

                    Atletico Madrid
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Bournemouth/">

                    <img src="/media/rasmlar/657-6570530_bournemouth-logo-afc-bournemouth-fc-logo-png-transparent.png"
                         alt="">

                    Bournemouth
                </a>
            </div>

            <div class="club">
                <a href="/club_players/West Ham/">

                    <img src="/media/rasmlar/west-ham-united-logo.png" alt="">

                    West Ham
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Napoli/">

                    <img src="/media/rasmlar/Napoli.jpg" alt="">

                    Napoli
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Brentford/">

                    <img src="/media/rasmlar/Brentford_FC_crest.svg.png" alt="">

                    Brentford
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Real Sociedad/">

                    <img src="/media/rasmlar/1200px-Real_Sociedad_logo.svg.png" alt="">

                    Real Sociedad
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Nottingham/">

                    <img src="/media/rasmlar/nottingham.png" alt="">

                    Nottingham
                </a>
            </div>

            <div class="club">
                <a href="/club_players/Monaco/">

                    <img src="/media/rasmlar/as-monaco-fc-logo-1449AAD69E-seeklogo.com.png" alt="">

                    Monaco
                </a>
            </div>

        </div>
        <p>
            It is a list of clubs with at least one ongoing employment contract
            with player whose predicted transfer value is at least 20 million
            euro.
        </p>
    </div>
    <div class="footer state-footer">
        <a href="https://www.facebook.com/topfootballtransfers/">
            <div>
                <i class="fa-brands fa-facebook-f"></i> &nbsp;
                <h3>facebook</h3>
            </div>
        </a>
        <a href="https://www.instagram.com/topfootballtransfers/">
            <div>
                <i class="fa-brands fa-instagram"></i> &nbsp;
                <h3>Instagram</h3>
            </div>
        </a>
    </div>
</div>
</body>
<script src="js/main.js"></script>
</html>
