<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="World Top transfers">
    <meta name="keywords" content="football,clubs, football club,Real Madrid, football transfer, top transfers,">
    <link rel="icon" href="./img/inter.logo.png">
    <meta name="author" content="Ali Egamberdiyev">
    <title>Top transfer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon" href="{% static './img/inter.logo.png' %}">
    <script src="main.js"></script>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="country-menu-btn">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <div class="navbar-menu-btn">
            <div class="line4"></div>
            <div class="line5"></div>
            <div class="line6"></div>
        </div>
        <div class="country-menu">
            <h3><a href="./countries/england.html">England</a> <br/></h3>
            <h3><a href="./countries/italy.html">italy</a> <br/></h3>
            <h3><a href="./countries/france.html">France</a> <br/></h3>
            <h3><a href="./countries/netherlands.html">Netherlands</a> <br/></h3>
            <h3><a href="./countries/ukraine.html">Ukraine</a> <br/></h3>
            <h3><a href="./countries/argentina.html">Argentina</a> <br/></h3>
            <h3><a href="./countries/spain.html">Spain</a> <br/></h3>
            <h3><a href="./countries/germany.html">Germany</a> <br/></h3>
            <h3><a href="./countries/portugal.html">Portugal</a> <br/></h3>
            <h3><a href="./countries/brazil.html">Brazil</a> <br/></h3>
            <h3><a href="./countries/russia.html">Russia</a> <br/></h3>
            <h3><a href="./countries/other.html">Other</a> <br/></h3>
        </div>
        <div class="navbar-menu">
            <h3><a href="/clubs/">CLUBS</a></h3>
            <h3><a href="/transfers">LATEST TRANSFERS</a></h3>
            <h3><a href="/players/">PLAYERS</a></h3>
            <h3><a href="./U-20 players.html">U-20 PLAYERS</a></h3>
            <h3><a href="./tryouts.html">TRYOUTS</a></h3>
            <h3><a href="./stats.html">STATS</a></h3>
            <h3><a href="./about.html">ABOUT US</a></h3>
        </div>
        <div class="icon">
            <a href="./index.html">
                <img src="{% static 'img/12252568_173-removebg-preview.png' %}" alt=""/>
            </a>
        </div>
        <div class="links">
            <div><a href="/clubs/">CLUBS</a></div>
            <div class="navActive"><a href="#">LATEST TRANSFERS</a></div>
            <div><a href="/players/">PLAYERS</a></div>
            <div><a href="./U-20 players.html">U-20 PLAYERS</a></div>
            <div><a href="./tryouts.html">TRYOUTS</a></div>
            <div><a href="./stats.html">STATS</a></div>
            <div><a href="./about.html">ABOUT US</a></div>
            <div><a href="/">HOME</a></div>
        </div>
    </div>
    <div class="country-clubs">
        <h2 id="title">Clubs by country</h2>
        <div class="country">
            <div>
                <h3><a href="./countries/england.html">England</a> <br></h3>
                <h3><a href="./countries/italy.html">italy</a> <br></h3>
                <h3><a href="./countries/france.html">France</a> <br></h3>
                <h3><a href="./countries/netherlands.html">Netherlands</a> <br></h3>
                <h3><a href="./countries/ukraine.html">Ukraine</a> <br></h3>
                <h3><a href="./countries/argentina.html">Argentina</a> <br></h3>
            </div>
            <div>
                <h3><a href="./countries/spain.html">Spain</a> <br></h3>
                <h3><a href="./countries/germany.html">Germany</a> <br></h3>
                <h3><a href="./countries/portugal.html">Portugal</a> <br></h3>
                <h3><a href="./countries/brazil.html">Brazil</a> <br></h3>
                <h3><a href="./countries/russia.html">Russia</a> <br></h3>
                <h3><a href="./countries/other.html">Other</a> <br></h3>
            </div>
        </div>
    </div>
    <div class="nav">
        <h2>– LATEST TRANSFERS –</h2>
        <table class="content-nav">
            <thead>
            <tr>
                <td>#</td>
                <td>player</td>
                <td>from</td>
                <td>to</td>
                <td>
                    transfer fee, <br/>
                    mill. euro
                </td>
                <td>
                    transfer fee, <br/>
                    mill. euro, <br/>
                    by tft.com
                </td>
            </tr>
            </thead>
        </table>
    </div>
    <div class="latest-transfers">

        <table class="players">
            <tbody>
            <tr style="margin-top:100px;">
                <td>1</td>
                <td>Jhon&nbsp;Durán</td>
                <td>Aston Villa</td>
                <td>Al-Nassr</td>
                <td>77</td>
                <td>60</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Julián&nbsp;Álvarez</td>
                <td>Manchester City</td>
                <td>Atlético Madrid</td>
                <td>75</td>
                <td>85</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Omar&nbsp;Marmoush</td>
                <td>Eintracht</td>
                <td>Manchester City</td>
                <td>75</td>
                <td>65</td>
            </tr>

            <tr>
                <td>4</td>
                <td>Khvicha&nbsp;Kvaratskhelia</td>
                <td>Napoli</td>
                <td>Paris Saint-Germain</td>
                <td>70</td>
                <td>75</td>
            </tr>

            <tr>
                <td>5</td>
                <td>Dominic&nbsp;Solanke</td>
                <td>Bournemouth</td>
                <td>Tottenham</td>
                <td>64.3</td>
                <td>65</td>
            </tr>

            <tr>
                <td>6</td>
                <td>Leny&nbsp;Yoro</td>
                <td>Lille</td>
                <td>Manchester United</td>
                <td>62</td>
                <td>45</td>
            </tr>

            <tr>
                <td>7</td>
                <td>Moussa&nbsp;Diaby</td>
                <td>Aston Villa</td>
                <td>Al-Ittihad</td>
                <td>60</td>
                <td>60</td>
            </tr>

            <tr>
                <td>8</td>
                <td>Pedro&nbsp;Neto</td>
                <td>Wolverhampton</td>
                <td>Chelsea</td>
                <td>60</td>
                <td>60</td>
            </tr>

            <tr>
                <td>9</td>
                <td>Nico&nbsp;González</td>
                <td>Porto</td>
                <td>Manchester City</td>
                <td>60</td>
                <td>30</td>
            </tr>

            <tr>
                <td>10</td>
                <td>João&nbsp;Neves</td>
                <td>Benfica</td>
                <td>Paris Saint-Germain</td>
                <td>59.92</td>
                <td>90</td>
            </tr>

            <tr>
                <td>11</td>
                <td>Amadou&nbsp;Onana</td>
                <td>Everton</td>
                <td>Aston Villa</td>
                <td>59.35</td>
                <td>59</td>
            </tr>

            <tr>
                <td>12</td>
                <td>Dani&nbsp;Olmo</td>
                <td>Leipzig</td>
                <td>Barcelona</td>
                <td>55</td>
                <td>55</td>
            </tr>

            <tr>
                <td>13</td>
                <td>Teun&nbsp;Koopmeiners</td>
                <td>Atalanta</td>
                <td>Juventus</td>
                <td>54.7</td>
                <td>55</td>
            </tr>

            <tr>
                <td>14</td>
                <td>Michael&nbsp;Olise</td>
                <td>Crystal Palace</td>
                <td>Bayern</td>
                <td>53</td>
                <td>60</td>
            </tr>

            <tr>
                <td>15</td>
                <td>João Félix</td>
                <td>Atlético Madrid</td>
                <td>Chelsea</td>
                <td>52</td>
                <td>65</td>
            </tr>

            <tr>
                <td>16</td>
                <td>Douglas Luiz</td>
                <td>Aston Villa</td>
                <td>Juventus</td>
                <td>51.5</td>
                <td>60</td>
            </tr>

            <tr>
                <td>17</td>
                <td>João&nbsp;Palhinha</td>
                <td>Fulham</td>
                <td>Bayern</td>
                <td>51</td>
                <td>50</td>
            </tr>

            <tr>
                <td>18</td>
                <td>Manuel&nbsp;Ugarte</td>
                <td>Paris Saint-Germain</td>
                <td>Manchester United</td>
                <td>50</td>
                <td>60</td>
            </tr>

            <tr>
                <td>19</td>
                <td>Désiré&nbsp;Doué</td>
                <td>Rennais</td>
                <td>Paris Saint-Germain</td>
                <td>50</td>
                <td>45</td>
            </tr>

            <tr>
                <td>20</td>
                <td>Xavi&nbsp;Simons</td>
                <td>Paris Saint-Germain</td>
                <td>Leipzig</td>
                <td>50</td>
                <td>80</td>
            </tr>

            <tr>
                <td>21</td>
                <td>Galeno</td>
                <td>Porto</td>
                <td>Al-Ahli</td>
                <td>50</td>
                <td>35</td>
            </tr>

            <tr>
                <td>22</td>
                <td>Endrick</td>
                <td>Palmeiras</td>
                <td>Real Madrid</td>
                <td>47.5</td>
                <td>25</td>
            </tr>

            <tr>
                <td>23</td>
                <td>Max&nbsp;Kilman</td>
                <td>Wolverhampton</td>
                <td>West Ham</td>
                <td>47.5</td>
                <td>40</td>
            </tr>

            <tr>
                <td>24</td>
                <td>Georginio&nbsp;Rutter</td>
                <td>Leeds</td>
                <td>Brighton</td>
                <td>46.7</td>
                <td>35</td>
            </tr>

            <tr>
                <td>25</td>
                <td>Riccardo&nbsp;Calafiori</td>
                <td>Bologna</td>
                <td>Arsenal</td>
                <td>45</td>
                <td>50</td>
            </tr>

            <tr>
                <td>26</td>
                <td>Matthijs de Ligt</td>
                <td>Bayern</td>
                <td>Manchester United</td>
                <td>45</td>
                <td>50</td>
            </tr>

            <tr>
                <td>27</td>
                <td>Ian&nbsp;Maatsen</td>
                <td>Chelsea</td>
                <td>Aston Villa</td>
                <td>44.5</td>
                <td>45</td>
            </tr>

            <tr>
                <td>28</td>
                <td>Joshua&nbsp;Zirkzee</td>
                <td>Bologna</td>
                <td>Manchester United</td>
                <td>42.5</td>
                <td>42</td>
            </tr>

            <tr>
                <td>29</td>
                <td>Conor&nbsp;Gallagher</td>
                <td>Chelsea</td>
                <td>Atlético Madrid</td>
                <td>42</td>
                <td>43</td>
            </tr>

            <tr>
                <td>30</td>
                <td>Ivan&nbsp;Toney</td>
                <td>Brentford</td>
                <td>Al-Ahli</td>
                <td>42</td>
                <td>45</td>
            </tr>

            <tr>
                <td>31</td>
                <td>Archie&nbsp;Gray</td>
                <td>Leeds</td>
                <td>Tottenham</td>
                <td>41.25</td>
                <td>25</td>
            </tr>

            <tr>
                <td>32</td>
                <td>Elliot&nbsp;Anderson</td>
                <td>Newcastle</td>
                <td>Nottingham</td>
                <td>41.2</td>
                <td>20</td>
            </tr>

            <tr>
                <td>33</td>
                <td>Willian&nbsp;Pacho</td>
                <td>Eintracht</td>
                <td>Paris Saint-Germain</td>
                <td>40</td>
                <td>40</td>
            </tr>

            <tr>
                <td>34</td>
                <td>Marcos Leonardo</td>
                <td>Benfica</td>
                <td>Al-Hilal</td>
                <td>40</td>
                <td>30</td>
            </tr>

            <tr>
                <td>35</td>
                <td>Abdukodir&nbsp;Khusanov</td>
                <td>Lens</td>
                <td>Manchester City</td>
                <td>40</td>
                <td>25</td>
            </tr>

            <tr>
                <td>36</td>
                <td>Evanilson</td>
                <td>Porto</td>
                <td>Bournemounth</td>
                <td>37</td>
                <td>47</td>
            </tr>

            <tr>
                <td>37</td>
                <td>Vitor Reis</td>
                <td>Palmeiras</td>
                <td>Manchester City</td>
                <td>37</td>
                <td>30</td>
            </tr>

            <tr>
                <td>38</td>
                <td>Kiernan&nbsp;Dewsbury-Hall</td>
                <td>Leicester</td>
                <td>Chelsea</td>
                <td>35.4</td>
                <td>40</td>
            </tr>

            <tr>
                <td>39</td>
                <td>David&nbsp;Raya</td>
                <td>Brentford</td>
                <td>Arsenal</td>
                <td>35.4</td>
                <td>35</td>
            </tr>

            <tr>
                <td>40</td>
                <td>Orel&nbsp;Mangala</td>
                <td>Nottingham</td>
                <td>Lyon</td>
                <td>35.1</td>
                <td>25</td>
            </tr>

            <tr>
                <td>41</td>
                <td>Yankuba&nbsp;Minteh</td>
                <td>Newcastle</td>
                <td>Brighton</td>
                <td>35</td>
                <td>25</td>
            </tr>

            <tr>
                <td>42</td>
                <td>Alessandro&nbsp;Buongiorno</td>
                <td>Torino</td>
                <td>Napoli</td>
                <td>35</td>
                <td>35</td>
            </tr>

            <tr>
                <td>43</td>
                <td>Mohamed&nbsp;Simakan</td>
                <td>Leipzig</td>
                <td>Al-Nassr</td>
                <td>35</td>
                <td>45</td>
            </tr>

            <tr>
                <td>44</td>
                <td>Robin&nbsp;Le Normand</td>
                <td>Real Sociedad</td>
                <td>Atlético Madrid</td>
                <td>34.5</td>
                <td>35</td>
            </tr>

            <tr>
                <td>45</td>
                <td>Igor&nbsp;Thiago</td>
                <td>Brugge</td>
                <td>Brentford</td>
                <td>33</td>
                <td>None</td>
            </tr>

            <tr>
                <td>46</td>
                <td>Lewis&nbsp;Hall</td>
                <td>Chelsea</td>
                <td>Newcastle</td>
                <td>33</td>
                <td>30</td>
            </tr>

            <tr>
                <td>47</td>
                <td>Luiz Henrique</td>
                <td>Botafogo</td>
                <td>Zenit</td>
                <td>33</td>
                <td>20</td>
            </tr>

            <tr>
                <td>48</td>
                <td>Mats&nbsp;Wieffer</td>
                <td>Feyenoord</td>
                <td>Brighton</td>
                <td>32</td>
                <td>30</td>
            </tr>

            <tr>
                <td>49</td>
                <td>Alexander&nbsp;Sørloth</td>
                <td>Villareal</td>
                <td>Atlético Madrid</td>
                <td>32</td>
                <td>38</td>
            </tr>

            <tr>
                <td>50</td>
                <td>Mikel&nbsp;Merino</td>
                <td>Real Sociedad</td>
                <td>Arsenal</td>
                <td>32</td>
                <td>35</td>
            </tr>

            <tr>
                <td>51</td>
                <td>Santiago&nbsp;Gimenez</td>
                <td>Feyenoord</td>
                <td>Milan</td>
                <td>32</td>
                <td>40</td>
            </tr>

            <tr>
                <td>52</td>
                <td>Moussa&nbsp;Niakhaté</td>
                <td>Nottingham</td>
                <td>Lyon</td>
                <td>31.9</td>
                <td>None</td>
            </tr>

            <tr>
                <td>53</td>
                <td>Emile&nbsp;Smith Rowe</td>
                <td>Arsenal</td>
                <td>Fullham</td>
                <td>31.8</td>
                <td>30</td>
            </tr>

            <tr>
                <td>54</td>
                <td>Brajan&nbsp;Gruda</td>
                <td>Mainz</td>
                <td>Brighton</td>
                <td>31.5</td>
                <td>20</td>
            </tr>

            <tr>
                <td>55</td>
                <td>Davide&nbsp;Frattesi</td>
                <td>Sassuolo</td>
                <td>Inter Milan</td>
                <td>31.4</td>
                <td>31</td>
            </tr>

            <tr>
                <td>56</td>
                <td>Artem&nbsp;Dovbyk</td>
                <td>Girona</td>
                <td>Roma</td>
                <td>30.5</td>
                <td>35</td>
            </tr>

            <tr>
                <td>57</td>
                <td>Scott&nbsp;McTominay</td>
                <td>Manchester United</td>
                <td>Napoli</td>
                <td>30.5</td>
                <td>30</td>
            </tr>

            <tr>
                <td>58</td>
                <td>Romelu Lukaku</td>
                <td>Chelsea</td>
                <td>Napoli</td>
                <td>30</td>
                <td>35</td>
            </tr>

            <tr>
                <td>59</td>
                <td>Giorgi&nbsp;Mamardashvili</td>
                <td>Valencia</td>
                <td>Liverpool</td>
                <td>30</td>
                <td>35</td>
            </tr>

            <tr>
                <td>60</td>
                <td>Ferdi&nbsp;Kadioglu</td>
                <td>Fenerbahce</td>
                <td>Brighton</td>
                <td>30</td>
                <td>30</td>
            </tr>

            <tr>
                <td>61</td>
                <td>Patrick&nbsp;Dorgu</td>
                <td>Lecce</td>
                <td>Manchester United</td>
                <td>30</td>
                <td>30</td>
            </tr>

            <tr>
                <td>62</td>
                <td>Eddie&nbsp;Nketiah</td>
                <td>Arsenal</td>
                <td>Crystal Palace</td>
                <td>29.7</td>
                <td>30</td>
            </tr>

            <tr>
                <td>63</td>
                <td>Joachim&nbsp;Andersen</td>
                <td>Crystal Palace</td>
                <td>Fullham</td>
                <td>29.5</td>
                <td>40</td>
            </tr>

            <tr>
                <td>64</td>
                <td>Matt&nbsp;O'Riley</td>
                <td>Celtic</td>
                <td>Brighton</td>
                <td>29.5</td>
                <td>25</td>
            </tr>

            <tr>
                <td>65</td>
                <td>Matías&nbsp;Soulé</td>
                <td>Juventus</td>
                <td>Roma</td>
                <td>29.3</td>
                <td>35</td>
            </tr>

            <tr>
                <td>66</td>
                <td>Crysencio&nbsp;Summerville</td>
                <td>Leeds</td>
                <td>West Ham</td>
                <td>29.3</td>
                <td>35</td>
            </tr>

            <tr>
                <td>67</td>
                <td>Wilson&nbsp;Odobert</td>
                <td>Burnley</td>
                <td>Tottenham</td>
                <td>29.3</td>
                <td>20</td>
            </tr>

            <tr>
                <td>68</td>
                <td>Moteb&nbsp;Al-Harbi</td>
                <td>Al-Shabab</td>
                <td>Al-Hilal</td>
                <td>28.95</td>
                <td>None</td>
            </tr>

            <tr>
                <td>69</td>
                <td>Ernest&nbsp;Nuamah</td>
                <td>Molenbeek</td>
                <td>Lyon</td>
                <td>28.5</td>
                <td>25</td>
            </tr>

            <tr>
                <td>70</td>
                <td>Maximilian&nbsp;Beier</td>
                <td>Hoffenheim</td>
                <td>Borussia Dortmund</td>
                <td>28.5</td>
                <td>30</td>
            </tr>

            <tr>
                <td>71</td>
                <td>David&nbsp;Neres</td>
                <td>Benfica</td>
                <td>Napoli</td>
                <td>28</td>
                <td>25</td>
            </tr>

            <tr>
                <td>72</td>
                <td>Deniz&nbsp;Undav</td>
                <td>Brighton</td>
                <td>Stuttgart</td>
                <td>27.4</td>
                <td>25</td>
            </tr>

            <tr>
                <td>73</td>
                <td>Niclas&nbsp;Füllkrug</td>
                <td>Borussia Dortmund</td>
                <td>West Ham</td>
                <td>27</td>
                <td>30</td>
            </tr>

            <tr>
                <td>74</td>
                <td>Mason&nbsp;Greenwood</td>
                <td>Manchester United</td>
                <td>Marseille</td>
                <td>26</td>
                <td>30</td>
            </tr>

            <tr>
                <td>75</td>
                <td>Elye&nbsp;Wahi</td>
                <td>Marseille</td>
                <td>Eintracht</td>
                <td>26</td>
                <td>30</td>
            </tr>

            <tr>
                <td>76</td>
                <td>Charles&nbsp;De Ketelaere</td>
                <td>Milan</td>
                <td>Atalanta</td>
                <td>25</td>
                <td>26</td>
            </tr>

            <tr>
                <td>77</td>
                <td>Savinho</td>
                <td>Troyes</td>
                <td>Manchester City</td>
                <td>25</td>
                <td>45</td>
            </tr>

            <tr>
                <td>78</td>
                <td>Elye&nbsp;Wahi</td>
                <td>Lens</td>
                <td>Marseille</td>
                <td>25</td>
                <td>40</td>
            </tr>

            <tr>
                <td>79</td>
                <td>João Cancelo</td>
                <td>Manchester City</td>
                <td>Al-Hilal</td>
                <td>25</td>
                <td>30</td>
            </tr>

            <tr>
                <td>80</td>
                <td>Donyell&nbsp;Malen</td>
                <td>Borussia Dortmund</td>
                <td>Aston Villa</td>
                <td>25</td>
                <td>25</td>
            </tr>

            <tr>
                <td>81</td>
                <td>Stefanos&nbsp;Tzimas</td>
                <td>Nuremberg</td>
                <td>Brighton</td>
                <td>25</td>
                <td>25</td>
            </tr>

            <tr>
                <td>82</td>
                <td>Omari&nbsp;Hutchinson</td>
                <td>Chelsea</td>
                <td>Ipswich</td>
                <td>24.5</td>
                <td>25</td>
            </tr>

            <tr>
                <td>83</td>
                <td>Filip&nbsp;Jørgensen</td>
                <td>Villareal</td>
                <td>Chelsea</td>
                <td>24.5</td>
                <td>25</td>
            </tr>

            <tr>
                <td>84</td>
                <td>Jaden&nbsp;Philogene</td>
                <td>Aston Villa</td>
                <td>Ipswich</td>
                <td>23.7</td>
                <td>23</td>
            </tr>

            <tr>
                <td>85</td>
                <td>Sepp&nbsp;van den Berg</td>
                <td>Liverpool</td>
                <td>Brentford</td>
                <td>23.6</td>
                <td>20</td>
            </tr>

            <tr>
                <td>86</td>
                <td>Odysseas&nbsp;Vlachodimos</td>
                <td>Nottingham</td>
                <td>Newcastle</td>
                <td>23.6</td>
                <td>None</td>
            </tr>

            <tr>
                <td>87</td>
                <td>Sander&nbsp;Berge</td>
                <td>Burnley</td>
                <td>Fullham</td>
                <td>23.55</td>
                <td>25</td>
            </tr>

            <tr>
                <td>88</td>
                <td>Hiroki&nbsp;Ito</td>
                <td>Stuttgart</td>
                <td>Bayern</td>
                <td>23.5</td>
                <td>30</td>
            </tr>

            <tr>
                <td>89</td>
                <td>Oliver&nbsp;Skipp</td>
                <td>Tottenham</td>
                <td>Leicester</td>
                <td>23.5</td>
                <td>20</td>
            </tr>

            <tr>
                <td>90</td>
                <td>Luis&nbsp;Sinisterra</td>
                <td>Leeds</td>
                <td>Bournemounth</td>
                <td>23.4</td>
                <td>20</td>
            </tr>

            <tr>
                <td>91</td>
                <td>Fábio&nbsp;Carvalho</td>
                <td>Liverpool</td>
                <td>Brentford</td>
                <td>23.4</td>
                <td>20</td>
            </tr>

            <tr>
                <td>92</td>
                <td>Taylor&nbsp;Harwood-Bellis</td>
                <td>Manchester City</td>
                <td>Southampton</td>
                <td>23</td>
                <td>20</td>
            </tr>

            <tr>
                <td>93</td>
                <td>Luis Guilherme</td>
                <td>Palmeiras</td>
                <td>West Ham</td>
                <td>23</td>
                <td>30</td>
            </tr>

            <tr>
                <td>94</td>
                <td>Enzo&nbsp;Le Fée</td>
                <td>Rennais</td>
                <td>Roma</td>
                <td>23</td>
                <td>22</td>
            </tr>

            <tr>
                <td>95</td>
                <td>Ângelo</td>
                <td>Chelsea</td>
                <td>Al-Nassr</td>
                <td>23</td>
                <td>25</td>
            </tr>

            <tr>
                <td>96</td>
                <td>Omari&nbsp;Kellyman</td>
                <td>Aston Villa</td>
                <td>Chelsea</td>
                <td>22.5</td>
                <td>20</td>
            </tr>

            <tr>
                <td>97</td>
                <td>Waldemar&nbsp;Anton</td>
                <td>Stuttgart</td>
                <td>Borussia Dortmund</td>
                <td>22.5</td>
                <td>22</td>
            </tr>

            <tr>
                <td>98</td>
                <td>Mateo&nbsp;Retegui</td>
                <td>Genoa</td>
                <td>Atalanta</td>
                <td>22</td>
                <td>20</td>
            </tr>

            <tr>
                <td>99</td>
                <td>André</td>
                <td>Fluminense</td>
                <td>Wolverhampton</td>
                <td>22</td>
                <td>25</td>
            </tr>

            <tr>
                <td>100</td>
                <td>Jacob&nbsp;Greaves</td>
                <td>Hull City</td>
                <td>Ipswich</td>
                <td>21.5</td>
                <td>20</td>
            </tr>

            <tr>
                <td>101</td>
                <td>Aaron&nbsp;Ramsdale</td>
                <td>Arsenal</td>
                <td>Southampton</td>
                <td>21.4</td>
                <td>25</td>
            </tr>

            <tr>
                <td>102</td>
                <td>Emmanuel&nbsp;Latte Lath</td>
                <td>Middlesbrough</td>
                <td>Atlanta (USA)</td>
                <td>21.25</td>
                <td>None</td>
            </tr>

            <tr>
                <td>103</td>
                <td>Ermedin&nbsp;Demirovic</td>
                <td>Augsburg</td>
                <td>Stuttgart</td>
                <td>21</td>
                <td>25</td>
            </tr>

            <tr>
                <td>104</td>
                <td>Antonio&nbsp;Nusa</td>
                <td>Brugge</td>
                <td>Leipzig</td>
                <td>21</td>
                <td>20</td>
            </tr>

            <tr>
                <td>105</td>
                <td>Steven Bergwijn</td>
                <td>Ajax</td>
                <td>Al-Ittihad</td>
                <td>21</td>
                <td>20</td>
            </tr>

            <tr>
                <td>106</td>
                <td>Khéphren&nbsp;Thuram</td>
                <td>Nice</td>
                <td>Juventus</td>
                <td>20.6</td>
                <td>20</td>
            </tr>

            <tr>
                <td>107</td>
                <td>Bilal&nbsp;El Khannouss</td>
                <td>Genk</td>
                <td>Leicester</td>
                <td>20.5</td>
                <td>25</td>
            </tr>

            <tr>
                <td>108</td>
                <td>Saïd&nbsp;Benrahma</td>
                <td>West Ham</td>
                <td>Lyon</td>
                <td>20.4</td>
                <td>20</td>
            </tr>

            <tr>
                <td>109</td>
                <td>Hugo&nbsp;Ekitike</td>
                <td>Paris Saint-Germain</td>
                <td>Eintracht</td>
                <td>20</td>
                <td>20</td>
            </tr>

            <tr>
                <td>110</td>
                <td>Matvey&nbsp;Safonov</td>
                <td>Krasnodar</td>
                <td>Paris Saint-Germain</td>
                <td>20</td>
                <td>20</td>
            </tr>

            <tr>
                <td>111</td>
                <td>Martin&nbsp;Terrier</td>
                <td>Rennais</td>
                <td>Bayer</td>
                <td>20</td>
                <td>25</td>
            </tr>

            <tr>
                <td>112</td>
                <td>Youssouf&nbsp;Fofana</td>
                <td>Monaco</td>
                <td>Milan</td>
                <td>20</td>
                <td>30</td>
            </tr>

            <tr>
                <td>113</td>
                <td>Raoul&nbsp;Bellanova</td>
                <td>Torino</td>
                <td>Atalanta</td>
                <td>20</td>
                <td>20</td>
            </tr>

            <tr>
                <td>114</td>
                <td>Mike&nbsp;Penders</td>
                <td>Genk</td>
                <td>Chelsea</td>
                <td>20</td>
                <td>20</td>
            </tr>

            <tr>
                <td>115</td>
                <td>Orri&nbsp;Óskarsson</td>
                <td>Copenhagen</td>
                <td>Real Sociedad</td>
                <td>20</td>
                <td>None</td>
            </tr>

            <tr>
                <td>116</td>
                <td>Seko&nbsp;Fofana</td>
                <td>Al-Nassr</td>
                <td>Rennais</td>
                <td>20</td>
                <td>None</td>
            </tr>

            <tr>
                <td>117</td>
                <td>Emmanuel&nbsp;Agbadou</td>
                <td>Reims</td>
                <td>Wolverhampton</td>
                <td>20</td>
                <td>20</td>
            </tr>

            <tr>
                <td>118</td>
                <td>Claudinho</td>
                <td>Zenit</td>
                <td>Al-Sadd (Qatar)</td>
                <td>20</td>
                <td>20</td>
            </tr>

            </tbody>
        </table>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta sequi quia eos cupiditate rerum
            accusantium odit enim, expedita, architecto error dignissimos voluptatibus. Nisi illo, maiores fugit amet
            neque eveniet!</p>
    </div>
    <div class="footer">
        <a href="https://www.facebook.com/topfootballtransfers/">
            <div>
                <i class="fa-brands fa-facebook-f"></i> &nbsp;
                <h3>facebook</h3>
            </div>
        </a>
        <a href="https://www.instagram.com/topfootballtransfers/">
            <div>
                <i class="fa-brands fa-instagram"></i> &nbsp;
                <h3>Instagram</h3>
            </div>
        </a>
    </div>
</div>
</body>
<script src="js/main.js"></script>
</html>
